$cWhite: white;
$cBlack: black;

#container {
  text-align: center;
}

.btn {
  background-color: $cWhite;
  color: $cBlack;
  border: 1px solid $cBlack;
  padding: 10px 40px;
  margin: 50px 0;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;

  &.cover-3d {
    position: relative;
    z-index: 1;
    transform-style: preserve-3d;
    perspective: 300px;

    & span {
      display: inline-block;
      // transform: translateZ(20px); // z軸方向の指定で、重ね順を指定
      transform: translate3d(0,0,20px); // この方法でもz軸方向の指定ができる
    }

    &::before {
      content: '';
      display: inline-block;
      width: 100%;
      height: 100%;
      background-color: $cBlack;
      position: absolute;
      top: 0;
      left: 0;
      transform: rotateX(90deg);  // X軸を中心にした回転
      transition: all 0.3s; // 0.3秒で変化する
      transform-origin: top center; // 軸の中心の設定(要素の上の辺)
      opacity: 0; // 初期の透明度
    }

    &:hover {
      color: $cWhite;

      &::before {
        transform: none;
        opacity: 1; // hover後の透明度
      }
    }
  }
}
