.rect {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background-color: orangered;
  // transform: translate(100%, 100%);
  // transform: rotate(90deg);
  transform-origin: center center;
  // transform: skew(-30deg);
  // transform: scale(2, 1.5);

  transform: translate(50%, 50%) rotate(45deg);
}
